# Video processing
av==10.0.0
opencv-python==4.10
pymediainfo==6.0.0

# OCR API
requests==2.31.0

# Text processing
thefuzz
wordninja-enhanced
opencc-python-reimplemented==0.1.7
fast-ssim

# System
wakepy==0.8.0
cpuid

# Testing
pytest==7.4.3
